@font-face {
    font-family: "pwbubbles";
    src: url("fonts/pwbubbles.ttf");
}

body {
    margin: 0;
    background-image: url("img/background/background.png");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "pwbubbles";
}

a {
    color: white;

}

h2 {
    font-size: 18px;
 
}

p {
    font-size: 14px;

}



#imprint, #privacy {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "PT Sans", sans-serif;
}