body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    font-family: 'pwbubbles';
    color: white;
}

h1 {
    font-size: 50px;
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    padding-top: 50px;
}

@font-face {
    font-family: 'pwbubbles';
    src: url('/fonts/pwbubbles.ttf');
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/background/background.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

#canvas {
    background-color: black;
    border: 2px solid #222;
    z-index: 1;  
    display: block;
}

@media only screen and (max-width: 880px) {
    #canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 520px) {
    #canvas {
        height: 100vh;
    }
}
  
