body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding-top: 150px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/4.Background/Dark/1.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

canvas {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #222;
    z-index: 1;  
}



  
